@media screen and (max-width: 1920px) {
    body{
        margin: 0;
    }
    .frame {
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    
    .frame .overlap-group-wrapper {
        background-color: #ffffff;
        width: 1366px;
        height: 1087px;
    }
    
    .frame .overlap-group {
        position: relative;
        height: 1087px;
        background-color: #ffffff;
    }
    
    .frame .main-image {
        position: absolute;
        width: 1366px;
        height: 550px;
        top: 63px;
        left: 0;
    }
    
    .frame .text-wrapper {
        position: absolute;
        width: 51px;
        height: 26px;
        top: 15px;
        left: 225px;
        -webkit-text-stroke: 2px #000000;
        font-family: "Inter-Regular", Helvetica;
        font-weight: 400;
        color: #bbbbbb;
        font-size: 24px;
        text-align: center;
        letter-spacing: 0;
        line-height: 29px;
        white-space: nowrap;
    }
    
    .frame .nav {
        position: absolute;
        width: 19px;
        height: 18px;
        top: 15px;
        left: 1120px;
        object-fit: cover;
        justify-self: right;
        background-color: white;
        border: none;
        font-size: 30px;
        cursor: pointer;
        outline: none;
    }
    
    .frame .div {
        position: absolute;
        width: 466px;
        height: 48px;
        top: 620px;
        left: 445px;
        font-family: "Roboto-Regular", Helvetica;
        font-weight: 400;
        color: #000000;
        font-size: 40px;
        text-align: center;
        letter-spacing: 0;
        line-height: 48.3px;
    }
    
    .frame .p {
        position: absolute;
        width: 609px;
        height: 42px;
        top: 710px;
        left: 378px;
        font-family: "Open Sans-Regular", Helvetica;
        font-weight: 400;
        color: #000000;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0;
        line-height: 19.3px;
    }
    
    .frame .overlap {
        position: absolute;
        width: 209px;
        height: 175px;
        top: 814px;
        left: 227px;
    }
    
    .frame .div-2 {
        position: absolute;
        width: 209px;
        height: 153px;
        top: 22px;
        left: 0;
        border: 4px solid;
        border-color: #f97c37;
    }
    
    .frame .img {
        height: 63px;
        top: 0;
        object-fit: cover;
        position: absolute;
        width: 78px;
        left: 66px;
    }
    
    .frame .text-wrapper-2 {
        height: 92px;
        top: 67px;
        font-family: "Roboto-Regular", Helvetica;
        font-weight: 400;
        color: #000000;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0;
        line-height: 19.3px;
        position: absolute;
        width: 78px;
        left: 66px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .frame .overlap-2 {
        position: absolute;
        width: 210px;
        height: 175px;
        top: 814px;
        left: 461px;
    }
    
    .frame .div-3 {
        position: absolute;
        width: 210px;
        height: 153px;
        top: 22px;
        left: 0;
        border: 4px solid;
        border-color: #f97c37;
    }
    
    .frame .img-2 {
        position: absolute;
        width: 78px;
        height: 63px;
        top: 0;
        left: 65px;
        object-fit: cover;
    }
    
    .frame .text-wrapper-3 {
        position: absolute;
        width: 90px;
        height: 92px;
        top: 66px;
        left: 59px;
        font-family: "Roboto-Regular", Helvetica;
        font-weight: 400;
        color: #000000;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0;
        line-height: 19.3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .frame .overlap-3 {
        position: absolute;
        width: 210px;
        height: 175px;
        top: 814px;
        left: 695px;
    }
    
    .frame .text-wrapper-4 {
        position: absolute;
        width: 135px;
        height: 91px;
        top: 66px;
        left: 38px;
        font-family: "Roboto-Regular", Helvetica;
        font-weight: 400;
        color: #000000;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0;
        line-height: 19.3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .frame .overlap-4 {
        position: absolute;
        width: 209px;
        height: 175px;
        top: 814px;
        left: 930px;
    }
    
    .frame .updates-monitoring {
        position: absolute;
        width: 135px;
        height: 91px;
        top: 67px;
        left: 37px;
        font-family: "Roboto-Regular", Helvetica;
        font-weight: 400;
        color: #000000;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0;
        line-height: 19.3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }
}

@media screen and (max-width: 1000px){
    .frame {
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
      }
      
      .frame .overlap-group-wrapper {
        background-color: #ffffff;
        width: 736px;
        height: 2449px;
      }
      
      .frame .overlap-group {
        position: relative;
        height: 2449px;
        background-color: #ffffff;
      }
      
      .frame .main-image {
        position: absolute;
        width: 736px;
        height: 480px;
        top: 126px;
        left: 0;
      }
      
      .frame .text-wrapper {
        position: absolute;
        width: 102px;
        height: 52px;
        top: 33px;
        left: 96px;
        -webkit-text-stroke: 2px #000000;
        font-family: "Inter-Regular", Helvetica;
        font-weight: 400;
        color: #bbbbbb;
        font-size: 40px;
        text-align: center;
        letter-spacing: 0;
        line-height: 48.3px;
        white-space: nowrap;
      }
      
      .frame .nav {
        position: absolute;
        width: 40px;
        height: 36px;
        top: 44px;
        left: 602px;
        object-fit: cover;
        justify-self: right;
        background-color: white;
        border: none;
        font-size: 40px;
        cursor: pointer;
        outline: none;
      }
      
      .frame .div {
        position: absolute;
        width: 516px;
        height: 109px;
        top: 698px;
        left: 111px;
        font-family: "Roboto-Regular", Helvetica;
        font-weight: 400;
        color: #000000;
        font-size: 48px;
        text-align: center;
        letter-spacing: 0;
        line-height: 58px;
      }
      
      .frame .p {
        position: absolute;
        width: 538px;
        height: 239px;
        top: 860px;
        left: 100px;
        font-family: "Open Sans-Regular", Helvetica;
        font-weight: 400;
        color: #000000;
        font-size: 32px;
        text-align: center;
        letter-spacing: 0;
        line-height: 38.7px;
      }
      
      .frame .overlap {
        position: absolute;
        width: 544px;
        height: 263px;
        top: 1178px;
        left: 98px;
      }
      
      .frame .div-2 {
        position: absolute;
        width: 544px;
        height: 230px;
        top: 33px;
        left: 0;
        border: 8px solid;
        border-color: #f97c37;
      }
      
      .frame .img {
        position: absolute;
        width: 158px;
        height: 118px;
        top: 0;
        left: 192px;
        object-fit: cover;
      }
      
      .frame .text-wrapper-2 {
        position: absolute;
        width: 306px;
        height: 35px;
        top: 170px;
        left: 118px;
        font-family: "Roboto-Regular", Helvetica;
        font-weight: 400;
        color: #000000;
        font-size: 36px;
        text-align: center;
        letter-spacing: 0;
        line-height: 43.5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .frame .overlap-2 {
        position: absolute;
        width: 544px;
        height: 262px;
        top: 1459px;
        left: 98px;
      }
      
      .frame .div-3 {
        position: absolute;
        width: 544px;
        height: 232px;
        top: 30px;
        left: 0;
        border: 8px solid;
        border-color: #f97c37;
      }
      
      .frame .img-2 {
        position: absolute;
        width: 158px;
        height: 117px;
        top: 0;
        left: 192px;
        object-fit: cover;
      }
      
      .frame .text-wrapper-3 {
        position: absolute;
        width: 360px;
        height: 34px;
        top: 169px;
        left: 92px;
        font-family: "Roboto-Regular", Helvetica;
        font-weight: 400;
        color: #000000;
        font-size: 36px;
        text-align: center;
        letter-spacing: 0;
        line-height: 43.5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .frame .overlap-3 {
        position: absolute;
        width: 544px;
        height: 262px;
        top: 1739px;
        left: 98px;
      }
      
      .frame .img {
        position: absolute;
        width: 158px;
        height: 116px;
        top: 0;
        left: 192px;
        object-fit: cover;
      }
      
      .frame .text-wrapper-4 {
        position: absolute;
        width: 416px;
        height: 34px;
        top: 169px;
        left: 64px;
        font-family: "Roboto-Regular", Helvetica;
        font-weight: 400;
        color: #000000;
        font-size: 36px;
        text-align: center;
        letter-spacing: 0;
        line-height: 43.5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .frame .overlap-4 {
        position: absolute;
        width: 544px;
        height: 280px;
        top: 2001px;
        left: 98px;
      }
      
      .frame .updates-monitoring {
        position: absolute;
        width: 354px;
        height: 34px;
        top: 187px;
        left: 94px;
        font-family: "Roboto-Regular", Helvetica;
        font-weight: 400;
        color: #000000;
        font-size: 36px;
        text-align: center;
        letter-spacing: 0;
        line-height: 43.5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      a {
        text-decoration: none;
        color: inherit;
      }
}